$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: Helvetica Neue, Helvetica, sans-serif;
$titlePadding: 30px;
$navbarHeight: 56px;
$fontWeight: 300;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: $fontWeight;

  h1, h2, h3, h4, h5, h6 {
  	font-weight: $fontWeight;
  }
}

h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }

.page-content {
	padding-top: $titlePadding;
}

.katex-display {
	.katex {
	  overflow-x: scroll;
	  overflow-y: hidden;
	}
} 

@media (min-width:1400px) {
	.container-fluid {
		max-width: 1320px;
	}
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}


/* Table of contents styles */
nav[data-toggle="toc"] {
  top: $navbarHeight + $titlePadding;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}
